*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #9ac8e0;
  background: -webkit-linear-gradient(#9ac8e0, #5b8499);
  background: -o-linear-gradient(#9ac8e0, #5b8499);
  background: -moz-linear-gradient(#9ac8e0, #5b8499);
  background: linear-gradient(#9ac8e0, #5b8499);
  font-family: 'Pacifico', cursive;
}

header {
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.wrapper {
  min-width: 1300px;
  text-align: center;
}

.arrow {
  border: solid black;
  border-width: 0 9px 9px 0;
  padding: 9px;
  vertical-align: middle;
}

.arrow:hover {
  cursor: pointer;
}

.prev-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.next-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.column {
  display: inline-block;
  vertical-align: middle;
}

.slide-container {
  position: relative;
  margin-top: 50px;
  width: 900px;
  height: 500px;
  background: #000;
  text-align: center;
  overflow: hidden;
}

.slide { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin: auto;
  width: 870px;
  height: 470px;
}

img {
  max-width: 870px;
  max-height: 470px;
  width: 100%;
}

.circles {
  margin-top: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 0;
}

.circle:last-child {
  margin-right: 0;
}

.circle:hover {
  cursor: pointer;
}

.active-circle {
  background: #000;
}

.prev-preview-slide {
  position: absolute;
  top: 338px;
  left: 15px;
}

.next-preview-slide {
  position: absolute;
  top: 338px;
  right: 15px;
}

.preview-slide img {
  width: 140px;
  height: auto;
  border: 2px solid black;
}
